<<<<<<< HEAD
<h2>Patient Directory</h2>

<ul>
  <% @patients.each do |patient| %>
    <li>
      Patient Name: <%= link_to patient.name, patient_path(patient) %>
      Number of Appointments: <%= patient.doctors.count %>
      <br><br>
    </li>
  <% end %>
=======
<ul>
<% @patients.each do |patient| %>
  <li><%= link_to patient.name, patient %></li>
<% end %>
>>>>>>> 91899b41162344e2b926e45087799c3e2e0c15fd
</ul>
